@using URegister.Core.Models.Nomenclature
@model CodeableConceptVM

@{
    ViewBag.Title = "Добавяне на  тип номенклатурна стойност";
    var htmlFieldPrefix = ViewData.TemplateInfo.HtmlFieldPrefix;
    var codeEditor = Model.IsInsert ? "String" : "StringDisabled";
    var action = Model.IsInsert ? "Add" : "Edit";
}
<div class="ui grid">   
    <form class="ui sixteen wide column" action="@Url.Action(action)" method="post" enctype="multipart/form-data">
        <div class="content">           
            <div class="column ui segment green">
                <div class="ui form">
                    @Html.HiddenFor(model => model.Type)
                    @Html.HiddenFor(model => model.IsInsert)
                    @Html.HiddenFor(model => model.DateFromInit)
                    <div class="fields">
                        <div class='eight wide field'>
                            @Html.EditorFor(model => model.Code, codeEditor)
                        </div>
                        <div class='eight wide field'>
                            @Html.EditorFor(model => model.HolderCode, "String")
                        </div>
                    </div>
                    <div class="fields">
                        <div class='eight wide field'>
                            @Html.EditorFor(model => model.Value)
                        </div>
                        <div class="eight wide field">
                            @Html.EditorFor(model => model.ValueEn)
                        </div>
                    </div>
                    <div class="fields">
                        <div class='eight wide field'>
                            @Html.EditorFor(model => model.DateFrom, "DateTime")
                        </div>
                        <div class="eight wide field">
                            @Html.EditorFor(model => model.DateTo, "DateTime")
                        </div>
                    </div>
                </div>
            </div>
            <div class="column ui segment green">
                <div class="ui form">
                    <div class="fields">
                        <div class='sixteen wide field'>
                            @await Html.PartialAsync("_AdditionalColumnList", Model.AdditionalColumns)
                        </div>
                    </div>
                </div>
            </div>
            @await Html.PartialAsync("_BackSubmitButton", @Url.Action("Index", new { nomenclatureType = Model.Type }))
        </div>
    </form>
</div>
@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}