@using URegister.Core.Models.Service
@model ServiceVM
@{
    var htmlFieldPrefix = ViewData.TemplateInfo.HtmlFieldPrefix;
    var htmlFieldPrefixP = string.IsNullOrEmpty(htmlFieldPrefix) ? string.Empty : $"{htmlFieldPrefix}.";
    var dataIndex = Model.Steps.Count;
}
<div class="ui form">
    <fieldset>
        <legend>
            <b>&nbsp; Стъпки &nbsp;</b>
        </legend>
        <div id="StepList">
            <a href="@Url.Action("Flowchart", "Service", new { serviceId = @Model.Id })" id="flowcart" class="ui secondary button">Диаграма</a>
            <div id="main-container" data-index="@dataIndex" data-prefix="@htmlFieldPrefix">
                @for (int i = 0; i < Model.Steps.Count; i++)
                {
                    Model.Steps[i].Index = i;
                    ViewData.TemplateInfo.HtmlFieldPrefix = $"{htmlFieldPrefix}Steps[{i}]";
                    await Html.RenderPartialAsync("_Step", Model.Steps[i]);
                    ViewData.TemplateInfo.HtmlFieldPrefix = htmlFieldPrefix;
                }
            </div>
        </div>
        <div class="ui fluid container basic clearing segment"></div>
        <div class="fields">
            <div class='sixteen wide field'>
                <div class="ui buttons right floated">
                    <button type="button" class=" ui button add-item" data-url="@Url.Action("AddStep")" data-container-id="main-container">
                        <i class="add icon"></i>
                        Добави
                    </button>
                </div>
            </div>
        </div>

    </fieldset>
</div>