@using URegister.Infrastructure.Extensions

@model int?
@{
    var ddl = ViewData.GetDropDownDdl().SetSelected(Model);
    var onchange = (string)(ViewData["onchange"] ?? String.Empty);
    var class_css = (string)(ViewData["class"] ?? String.Empty);
    var reqClass = ViewData.ModelMetadata.GetIOReqClass();
    var container_css = (string)(ViewData["container_css"] ?? String.Empty);
}

@if (ddl != null)
{
    <div class="ui form @container_css">
        <div class="field @reqClass">
            <label asp-for="@Model"></label>
            @Html.DropDownListFor(
                model => model, 
                ddl, 
                new {
                    @class = $"{class_css}",
                     onchange = $"{onchange}",
                     placeholder = "Изберете"
                })
            <span asp-validation-for="@Model" class="validation-error" tabindex="-1"></span>
        </div>
    </div>
    }
