@using URegister.Infrastructure.Extensions
@model int?
@{
    var reqClass = ViewData.ModelMetadata.GetIOReqClass();
    var container_css = (string)(ViewData["container_css"] ?? String.Empty);
}
<div class="ui form @container_css">
    <div class="field @reqClass">
        <label asp-for="@Model"></label>
        <input asp-for="@Model" placeholder="@ViewData.ModelMetadata.Placeholder" />
        <span asp-validation-for="@Model" class="validation-error" tabindex="-1"></span>
    </div>
</div>